<div id="janu-container">

  <!-- Hero logo and intro heading -->
  <%= image_tag "logo_transparent.png", id: "janu-logo", alt: 'janubeard logo'  %>
  <h1>Beardify yourself!<br />Get hairy with our Beard Generator!</h1>

  <!-- Intro paragraphs -->
  <p>Become bewhiskered, stubbly, shaggy, bushy, woolly, furry, fleecy and bristly - all in the name of <span>raising money for kids suffering from cancer.</span></p>
  <p>Janubeard is the world’s largest beard harmonisation event, with one unifying factor: respect and nurture of the beard for the month of January.</p>

  <!-- Beardify button link -->
  <!-- Unknown reason why this button is hidden. Link created instead -->
  <div id="beardify-link-section">
    <a id="beardify-link" href="/">Beard me up!</a>
  </div>

  <div id="black-section-divider"><p>Here is how we help...</p></div>

  <!-- Synopsis of child Lulu-->
  <%= image_tag "lulu.jpg", alt: 'Photo of Lulu, a young child who was diagnosed with cancer'  %>
  <p>This little beauty is Lulu. At 8-months old she was diagnosed with a type of childhood cancer called Neuroblastoma.</p>
  <p>Lulu is now 6 years old, but like so many other kids with cancer, Lulu needs more research. <a href="bit.ly/Lulus_Story" target="_blank">Read Lulu’s story</a></p>

  <!-- Donation section block -->
  <div id="donation-block">
    <h2>Even a small amount makes a big difference!</h2>
    <p>Donate now to help kids with cancer</p>
    <div id="donation-options">
      <button class="donation-button">$10</button>
      <button class="donation-button">$25</button>
      <button class="donation-button">$200</button>
      <button class="donation-button">$500</button>
      <button class="donation-button">$8,000</button>
    </div>
    <h3>Spread the word</h3>
    <p>to help kids with cancer...</p>
    <div id="spread-word-banner">
      <a href="" target="_blank"><%= image_tag "facebook_red.png", alt: 'facebook', class: "spread-word-icons"  %></a>
      <a href="" target="_blank"><%= image_tag "twitter_red.png", class:"spread-word-icons", alt:"twitter" %></a>
      <a href="" target="_blank"><%= image_tag "instagram_red.png", class:"spread-word-icons", alt:"instagram" %></a>
      <a href="" target="_blank"><%= image_tag "linkedin.png", class:"spread-word-icons", alt:"linkedin" %></a>
    </div>
  </div>
