<div class="container">

  <div class="video-container"
    data-shutter-ogg="<%= image_path('shutter.ogg')%>"
    data-shutter-mp3="<%= image_path('shutter.mp3')%>">

      <video autoplay="true"></video>
      <%= image_tag 'beard0.png', class: 'beard-image' %>
      <canvas id="beard-canvas"></canvas>
  </div>

  <div style="display: none;" id="beards">
    <%= image_tag "beard0.png" %>
    <%= image_tag "beard1.png" %>
    <%= image_tag "beard2.png" %>
    <%= image_tag "beard3.png" %>
    <%= image_tag "beard4.png" %>
    <%= image_tag "beard5.png" %>
  </div> <!-- end beards -->

</div> <!-- end container -->

<div class="bottom-bar">
  <button id="prev-beard"><%= image_tag "arrow_right.png", alt: "previous beard" %></button>
  <button id="snapshot"><%= image_tag "camera_white.png", alt: "take camera snapshot" %></button>
  <button id="retake-button" style="display: none;">Retake</button>
  <div id="share-banner" style="display: none;"> <!-- share-banner div holds all icons -->
    <p id="share-beard">Share</p>
    <a id="share-facebook" href="" target="_blank"><%= image_tag "facebook_white.png", alt: "share on facebook", class: "share-icons" %></a>
  </div> <!-- end share-banner div -->
  <button id="save-button" style="display: none;">Save</button>
  <button id="next-beard"><%= image_tag "arrow_left.png", alt: "next beard" %></button>
</div>
<!-- end button-container -->
