<h1>Your emotions are now detected please see below! </h1>
<%= image_tag @picture.image %>
<p>Anger  :<%= @picture.anger %></p>
<p>Disgust :<%= @picture.disgust %></p> 
<p>Fear :<%= @picture.fear %></p> 
<p>Happiness :<%= @picture.happiness %></p> 
<p>Neutral :<%= @picture.neutral %></p> 
<p>Sadness :<%= @picture.sadness %></p>
<p>Surprise : <%= @picture.surprise %></p>



 <div id='error-div'></div>

