<!DOCTYPE html>
<html>
<head>
  <title>Beardometer</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="userpage" content="Your amazing photo yo">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="nav-bar">
    <!-- Hamburger menu -->
    <a class="burger-menu" href="">
      <div class="burger-icon"> <!-- burger icon strips -->
        <div class="burger-strips"></div>
        <div class="burger-strips"></div>
        <div class="burger-strips"></div>
      </div>  <!-- end burger icon strips -->

      <!-- text 'MENU'' for burger menu not included, UX decision -->
      <!-- <p>MENU</p> -->
    </a> <!-- end Hamburger menu -->
    <a href="/homepage">
      <%= image_tag 'nav_logo.png', class: 'nav-logo' %>
    </a>

    <a href="" target="_blank"></a>

  </div> <!-- end nav-bar -->

  <%= yield %>

</body>
</html>
