<!DOCTYPE html>
<html>
<head>
  <title>Beardify</title>
  <meta name="userpage" content="Your amazing photo yo">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
<div class="nav-bar">
<a href="#"><%= image_tag 'nav_logo.png', class: 'nav-icons' %></a></li>
</div>

<%= yield %>

</body>
</html>
